# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs tmp files
*~
*#*#

# Ninja tmp ignore
*.ninja_deps
*.ninja_log

# Build files
./build/cmake_install.cmake
./build/CMakeCache.txt
./build/Makefile
./build/run
./build/CMakeFiles/CMakeTmp
./build/CMakeFiles/cmake.check_cache
./build/CMakeFiles/CMakeDirectoryInformation.cmake
./build/CMakeFiles/CMakeOutput.log
./build/CMakeFiles/feature_tests.bin
./build/CMakeFiles/feature_tests.c
./build/CMakeFiles/feature_tests.cxx
./build/CMakeFiles/Makefile.cmake
./build/CMakeFiles/Makefile2
./build/CMakeFiles/progress.marks
./build/CMakeFiles/TargetDirectories.txt
./build/CMakeFiles/3.6.2/CMakeCCompiler.cmake
./build/CMakeFiles/3.6.2/CMakeCXXCompiler.cmake
./build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_C.bin
./build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_CXX.bin
./build/CMakeFiles/3.6.2/CMakeSystem.cmake
./build/CMakeFiles/3.6.2/CompilerIdC/a.out
./build/CMakeFiles/3.6.2/CompilerIdC/CMakeCCompilerId.c
./build/CMakeFiles/3.6.2/CompilerIdCXX/a.out
./build/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
./build/CMakeFiles/run.dir/build.make
./build/CMakeFiles/run.dir/cmake_clean.cmake
./build/CMakeFiles/run.dir/CXX.includecache
./build/CMakeFiles/run.dir/depend.internal
./build/CMakeFiles/run.dir/depend.make
./build/CMakeFiles/run.dir/DependInfo.cmake
./build/CMakeFiles/run.dir/flags.make
./build/CMakeFiles/run.dir/link.txt
./build/CMakeFiles/run.dir/progress.make
./build/CMakeFiles/run.dir/src/Game
./build/CMakeFiles/run.dir/src/InputReceiver.cpp.o
./build/CMakeFiles/run.dir/src/main.cpp.o
./build/CMakeFiles/run.dir/src/Game/Camera.cpp.o
./build/CMakeFiles/run.dir/src/Game/Character.cpp.o
./build/CMakeFiles/run.dir/src/Game/Level.cpp.o
./build/CMakeFiles/run.dir/src/Game/MainHero.cpp.o
